---

---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bookstore (Frontend Submission Tester)</title>
  </head>
  <body>
    <div class="container mx-auto my-6">
      <slot />
    </div>
  </body>
</html>
