---
import DefaultLayout from "../layouts/DefaultLayout.astro"
---

<DefaultLayout>
  <h1 class="font-bold text-2xl">รายการ API สำหรับฝึกใช้งาน HTML Form Submission</h1>
  <ul class="list-disc pl-6 text-lg mt-4">
    <li><a href="/swagger">Swagger UI</a></li>
  </ul>
</DefaultLayout>

<style>
a {
  @apply underline text-blue-600;
}
</style>
